body {
  background-color: #98f3b1;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #545454;
  /* letter-spacing: 4px; */
  font-weight: bolder;
  font-size: 120px;
  position: relative;
  top: -100px;
}
#intro {
  color: rgb(134, 134, 134);
  font-weight: bold;
  font-size: 24px;
  position: relative;
  top: -150px;
}

#logo {
  position: relative;
  width: 200px;
  height: 200px;
}

.search {
  position: relative;
  top: -136px;
  height: 30px;
  width: 150px;
  border-radius: 22px;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

#getStock {
  position: relative;
  top: -136px;
  height: 30px;
  width: 70px;
  border-radius: 22px;
  color: white;
  background-color: rgb(153, 70, 200);
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
}
#getStock:hover {
  background-color: rgb(220, 100, 150);
  color: white;
}

#dividend {
  color: #333;
}

.scrollMenu {
  background-color: #333;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  
  /* overflow: auto;
  white-space: nowrap;  */
  
}

.card {
  display: inline-block;
}

/* div.scrollMenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 500px;
  top: 0px;
  bottom: 0px;
} */

div.scrollMenu a:hover {
  background-color: #777;
}

.imageNews {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* top: 0; */
  /* left: 0; */
  height: 200px;
  width: 340px;
  border-radius: 22px;
  padding: 10px;
}

#newsTitle {
  /* text-align: right; */
  /* margin-left: 220px; */
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  top: 0px;
  color: white;
}
#newsText {
  /* text-align: right; */
  /* margin-left: 220px; */
  word-wrap: break-word;
  white-space: pre-wrap;
  color: white;
  position: relative;
}

#source {
  color: white;
}

.corp {
  color: #777;
  text-align: left;
  font-weight: bold;
}

.otherData {
  text-align: left;
}

.green {
  color: rgb(45, 204, 45);
}

#data {
  text-align: center;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(93, 93, 93);
  width: 420px;
}

.red {
  color: rgb(167, 25, 25)
}

.container {
  height: 200px;
  width: 200px;
  background-color: red;
}

@media (max-width: 1000px) {
  body {
    font-family: 'Poppins', sans-serif;
  }
  .search {
    position: relative;
    top: -136px;
    height: 50px;
    width: 250px;
    border-radius: 22px;
    font-size: 30px;
  }
  #getStock {
    position: relative;
    top: -136px;
    height: 50px;
    width: 100px;
    border-radius: 22px;
    font-size: 20px;
    
  }
  
}